RewriteEngine On
RewriteRule ^ask$  /ask/ [R]
RewriteRule ^ask/$ index.php?m=ask&c=index [L]
RewriteRule ^ask/list\_([0-9]*).html$ index.php?m=guestbook&c=index&a=register&catid=35&typeid=0&page=$1 [L]
RewriteRule ^ask/detail\_([0-9]*).html$ index.php?m=guestbook&c=index&a=detail&catid=35&typeid=0&cid=$1 [L]
RewriteRule ^contract$  /contract/ [R]
RewriteRule ^contract/$ index.php?m=guestbook&c=index&a=register&catid=38&typeid=53&page=1 [L]
RewriteRule ^contract/list\_([0-9]*).html$ index.php?m=guestbook&c=index&a=register&catid=38&typeid=53&page=$1 [L]
RewriteRule ^contract/detail\_([0-9]*).html$ index.php?m=guestbook&c=index&a=detail&catid=38&typeid=53&cid=$1 [L]
RewriteRule ^check$  /check/ [R]
RewriteRule ^check/$ index.php?m=guestbook&c=index&a=register&catid=39&typeid=54&page=1 [L]
RewriteRule ^check/list\_([0-9]*).html$ index.php?m=guestbook&c=index&a=register&catid=39&typeid=54&page=$1 [L]
RewriteRule ^check/detail\_([0-9]*).html$ index.php?m=guestbook&c=index&a=detail&catid=39&typeid=54&cid=$1 [L]
RewriteRule ^post_success$  /post_success/ [R]
RewriteRule ^post_success/$ index.php?m=guestbook&c=index&a=location&opt=1 [L]