{template 'member', 'header'}
<div class="body_bg">
	<div class="position">
		<div class="w1200">
			<em><img src="{IMG_PATH}fl880/posi_img.jpg"></em><span>您现在的位置是：<a href="{APP_PATH}index.php?m=member&siteid=1">个人中心</a> &gt; 修改头像</span>
		</div>
	</div>
</div>
<div class="hy_conbg">
	<div class="w1200 cl">
		{template 'member', 'left'}
		<div class="huiyuan_right fr">
			{template 'member', 'right_top'}
			<div class="hy_rcon1">
				<script language="javascript" type="text/javascript" src="{$wysso_api_url}/skins/js/swfobject.js"></script>
				<script type="text/javascript">
                    var flashvars = {
                        'upurl':"{$upurl}&callback=return_avatar&"
                    };
                    var params = {
                        'align':'middle',
                        'play':'true',
                        'loop':'false',
                        'scale':'showall',
                        'wmode':'window',
                        'devicefont':'true',
                        'id':'Main',
                        'bgcolor':'#ffffff',
                        'name':'Main',
                        'allowscriptaccess':'always'
                    };
                    var attributes = {

                    };
                    swfobject.embedSWF("{$wysso_api_url}/skins/images/main.swf", "myContent", "490", "434", "9.0.0","{$wysso_api_url}/skins/images/expressInstall.swf", flashvars, params, attributes);

                    function return_avatar(data) {
                        if(data == 1) {
                            window.location.reload();
                        } else {
                            alert('failure');
                        }
                    }
				</script>
				<ul class="col-right col-avatar" id="avatarlist">
					{loop $avatar $k $v}
					<li>
						<img src="{$v}" height="{$k}" width="{$k}" onerror="this.src='{$wysso_api_url}/skins/images/member/nophoto.gif'"><br />
						{L('avatar')}{$k} x {$k}
					</li>
					{/loop}
				</ul>
				<div class="col-auto" style="width:500px;">
					<div id="myContent">
						<p>Alternative content</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{template 'member', 'footer'}
