<div class="huiyuan_left fl">
    <p>欢迎您！{trim(trim(get_nickname(),')'),'(')} ({$memberinfo[groupname]})</p>
    <img src="{$avatar[180]}" onerror="this.src='{IMG_PATH}fl880/img1_huiyuan.jpg'">
    <div class="hy_list">
        <p><a href="index.php?m=member&c=lawyer&a=lawyer_manage_avatar&t=1">修改头像</a></p>
        <p><a href="index.php?m=member&c=lawyer&a=lawyer_manage_info&t=1">个人资料</a></p>
        <p><a href="index.php?m=member&c=lawyer&a=lawyer_manage_password&t=1">修改密码</a></p>
    </div>
</div>